@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 600px) {
    #sticky-banner {
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }
}
.shadow-custom-text {
    text-shadow: 0 0 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255), 2px 2px 0 rgb(255, 255, 255), 3px 3px 0 rgb(0, 0, 0) !important;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-marquee {
    display: flex;
    animation: marquee 15s linear infinite;
  }